img {
    width: 30%;
}
body {
    background-color: lightblue;
    text-align: center;
    margin: 0;
}

/* navigation */
header, footer {
background-color: white;
padding: 20px;
}
nav a{
    text-decoration: none;
    
}